@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #faf8f3;
    color: #282520;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
